body {
  background: #0e1b1b;
  color: white;
  font-family: Arial, sans-serif;
}
nav {
  background: #072a2a;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
input, button {
  padding: 8px;
  margin: 5px;
}
.product {
  background: #123;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 200px;
  border-radius: 8px;
}
.discount {
  color: #ff4444;
}
